/*APPLIES TO ALL*/
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FCF7EB;
}

h3, h4 {
text-align: center;
}


/*FOR HEADER CONTENT*/
h1 {
background-color: #212842;
color: #FCF7EB;
text-align: center;
padding: 15px;
}

header {
    text-align: center;
}

header h1 {
    font-size: 70px;
}

header h3 {
    background-color: #C9DCED;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

header a {
    color: #212842;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

div img {
    align-items: center;
} 

a:hover {
    color: #C9DCED;
}

/*FOR HEADER CONTENT*/



/*FOR BODY CONTENT*/
p {
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
}

.h31, .h32, .h33 {
    font-size: 30px;
}

.h41, .h42, .h43 {
    font-size: 25px;
}

.martin {
       font-size: 23px;
 
}

.h41 {
    margin-top: 50px 0;
}