* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FCF7EB;
}

header {
    text-align: center;
}

header h1 {
    font-size: 2.8em;
}

header h3 {
    background-color: #C9DCED;
    font-size: 25px;
    font-weight: bold;
}

header a {
    color: #212842;
    text-decoration: underline;
    font-weight: bold;
}

div img {
    align-items: center;
    text-align: center;
}

a:hover {
    color: #C9DCED;
}
h1 {
background-color: #212842;
color: #FCF7EB;
text-align: center;
}

h3, h4 {
text-align: center;
}

p {
    justify-content: center;
    text-align: center;
    line-height: 1.5;
}
