* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FCF7EB;
}

body{
justify-content: center;
align-items: stretch;
}

h1 {
background-color: #212842;
color: #FCF7EB;
text-align: center;
background-size: contain;
}