body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
}

/* Footer Styles */
.footer {
  background-color: #b0a99f;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  font-size: 16px;
}

.footer-logo {
  color: #fff;
  padding: 10px;
  font-weight: bold;
  border-radius: 4px;
}

hr {
  border: none;
  border-top: 1px solid #dcd6cf;
  margin: 20px 0;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.footer-icons a {
  margin: 0 5px;
}

.footer-icons {
  display: flex;
  align-items: center;
}